/*serif*/
@font-face {
    font-family: 'Lexend';
    font-weight: normal;
    font-style: normal;
    src: url('./mint/Lexend-Regular.ttf') 
}

@font-face {
    font-family: 'Lexend';
    font-weight: bold;
    font-style: normal;
    src: url('./mint/Lexend-Bold.ttf') 
}

/*monospace*/
@font-face {
    font-family: 'SourceCodePro';
    font-weight: normal;
    font-style: normal;
    src: local(SourceCodePro), url('./mint/SourceCodePro-Regular.ttf')
}

body {
    font-family: 'Lexend','SourceCodePro','NotoSansSC';
}